<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieHolic</title>
    <style>
        body{text-align: center;padding-top: 30px;}
        div{margin: 30px;}
    </style>
</head>
<body>
    <form action="{% url 'update' %}" method="POST">
        {% csrf_token %}
        <p>제목: <input type="text" name="title" value="{{movie.title}}"></p>
        <p>예매율: <input type="text" name="r_rate" value="{{movie.r_rate}}"></p>
        <p>현재상영중: <input type="checkbox" name="status" value="{{movie.status}}"></p>
        <p>후기: <textarea name="review" id="" cols="30" rows="10"></textarea></p>
        <button type="submit">작성하기</button><br>
    </form>
    <a href="{% url 'home' %}">
        <button style="margin-top:10px;">홈으로</button>
    </a>
</body>
</html>